body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #0f172a;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #1e293b;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 40px;
    height: 40px;
    border-radius: 8px;
}

.help-btn {
    width: 40px;
    height: 40px;
    background: #facc15;
    border: none;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.grid {
    display: grid;
    gap: 5px;
}

.row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    width: 90vw;
    max-width: 320px;
}

.cell {
    aspect-ratio: 1 / 1;
    border: 2px solid #334155;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(16px, 4vw, 22px);
    font-weight: bold;
    background: #1e293b;
}

.green { background: #22c55e; }
.yellow { background: #eab308; }
.gray { background: #475569; }

.controls {
    margin: 15px;
}

button {
    padding: 8px 15px;
    margin: 5px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#restartBtn {
    display: none;
}

.keyboard {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 5px;
    width: 95vw;
    max-width: 500px;
}

.key {
    padding: 10px 0;
    font-size: clamp(12px, 3.5vw, 18px);
    background: #334155;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    margin-top: 40px;
    text-align: center;
    padding: 10px;
    background: #1e293b;
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 8px;
    max-width: 300px;
    text-align: center;
}
.admin-list {
    max-height: 200px;
    overflow-y: auto;
    font-size: 14px;
}

.admin-word {
    cursor: pointer;
    padding: 3px;
    display: inline-block;
}

.admin-word:hover {
    background: #ddd;
}

@keyframes shake {
    20% { transform: translateX(-8px); }
    40% { transform: translateX(8px); }
    60% { transform: translateX(-8px); }
    80% { transform: translateX(8px); }
}

#restartBtn {
    display: none;
}

.shake {
    animation: shake 0.4s ease;
}